@media screen and (min-width: 1921px)
  .boxing
    &__main
      &-center
        align-self: center
        margin: 90px 60px 0

@media screen and (min-width: 2200px) and (max-height: 1170px)
  .boxing
    &__main
      margin-top: -91px
      &-img
        width: 21%

@media screen and (min-width: 2200px) and (max-height: 1035px)
  .boxing
    &__main
      &-center
        transform: scale(0.9)
      &-img
        width: 19%


@media screen and (max-width: 1920px) and (max-height: 1050px)
  .boxing
    &__main
      margin-top: -50px
      &-center
        transform: scale(0.9)
      &-img
        width: 22%



@media screen and (max-width: 1919px)
  .footer
    min-height: 100px
    height: 100px
    .container
      padding: 0 25px
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 60px
          line-height: 60px
        &-txt
          font-size: 18px
          line-height: 24px
          width: 130px
      &-first
        padding: 0 78px 0 0
        &:after
          width: 45px
          height: 37px
          margin-top: -5px

@media screen and (max-width: 1700px)
  .boxing
    &__main
      &-img
        width: 25%

@media screen and (max-width: 1700px) and (max-height: 970px)
  .boxing
    &__main
      &-center
        transform: scale(0.85)
      &-img
        width: 22%


@media screen and (max-width: 1600px) and (max-height: 900px)
  .footer
    bottom: 60px
    min-height: 85px
    height: 85px
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 55px
          line-height: 55px
    &__icons
      &-pay
        margin-right: 30px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 15px

  .boxing
    &__legal
      height: 60px
    &__logo
      width: 279px
    &__main
      &-center
        transform: scale(0.8)
        margin: 49px 9px 0
      &-img
        margin-top: 40px
        width: 23%

@media screen and (max-width: 1600px) and (max-height: 820px)
  .boxing
    &__main
      &-center
        transform: scale(0.78)
        margin: 49px 0 0
        .team-wrap
          margin: 0 0 64px 0

@media screen and (max-width: 1600px) and (max-height: 780px)
  .boxing
    &::before
      height: 310px
    &__main
      .btn-snow
        width: 440px
        height: 63px
      &-title,
      &-subtitle
        font-size: 26px
        line-height: 26px
      &-wrap
        margin: 30px 0
      &-img
        margin-top: 20px
        width: 20%
      &-center
        .team-wrap
          margin: 0 0 34px 0
          &-teams
            font-size: 50px
            line-height: 50px
            .team-2
              .label
                width: 48px
                height: 37px
  .footer
    min-height: 90px
    height: 90px

@media screen and (max-width: 1600px) and (max-height: 740px)
  .boxing
    &__main
      &-center
        transform: scale(0.73)

@media screen and (max-width: 1470px)
  .popup
    &__window
      width: 550px
      padding: 50px 60px
      &-close
        width: 70px
        height: 70px
        right: -70px
        &:before
          width: 40px
          height: 40px
      &-txt
        &-title
          font-size: 26px
          line-height: 26px
        &-list
          li
            font-size: 20px
            line-height: 26px
            margin-bottom: 20px
  .boxing
    &__logo
      width: 276px
    .team-wrap
      &:before
        left: 30px
        width: 50px
        height: 24px
      &-teams
        font-size: 42px
        line-height: 42px
        margin-left: 21px
        .team-2
          margin-top: 8px
          .label
            margin: 6px 10px 0 3px
            width: 37px
            height: 29px
      &-date
        width: 70px
      &-day,
      &-time
        font-size: 18px
        line-height: 18px
        padding: 11px 3px 10px
    &__main
      &-img
        width: 26%
        margin-top: 60px
      &-center
        margin: 0 50px 60px
        .team-wrap
          margin: 132px 0 15px 0
      &-wrap
        margin: 51px 0 47px
      &-title,
      &-subtitle
        font-size: 22px
        line-height: 28px
      &-title
        order: 1
      &-subtitle
        order: 2
        span
          display: inline-block
      &-code
        order: 3
        font-size: 36px
        line-height: 36px
        padding: 20px 43px 17px
        margin: 18px 0 23px
        span
          display: none
      &-info
        order: 4
        line-height: 18px
        max-width: 212px
        margin: auto
      &-how
        margin-top: 20px
      .btn-snow
        width: 420px
        height: 60px

  .footer
    min-height: 90px
    height: 90px
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 50px
          line-height: 50px
          margin-top: 4px
        &-txt
          font-size: 16px
          line-height: 20px
          width: 120px
          margin-left: 12px
      &-first
        padding: 0 67px 0 0
        &:after
          width: 40px
          height: 33px
    &__icons
      &-pay
        margin-right: 30px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 15px

@media screen and (max-width: 1470px) and (max-height: 870px)
  .boxing
    &::before
      top: 41%
    &__main
      margin-top: -170px
  .footer
    position: absolute
    width: 100%


@media screen and (max-width: 1470px) and (max-height: 840px)
  .boxing
    &__main
      &-img
        width: 23%
        margin-top: 61px


@media screen and (max-width: 1366px)
  .boxing
    &__main
      &-btn
        font-size: 16px
        padding: 20px 78.5px 18px
      &-how
        font-size: 16px
      .btn-snow
        width: 384px
        height: 54px
        margin-top: -10px
  .footer
    min-height: 80px
    height: 80px
    .container
      padding: 0 20px
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 45px
          line-height: 45px
          margin-top: 3px
        &-txt
          font-size: 14px
          line-height: 18px
          width: 100px
      &-first
        &:after
          width: 35px
          height: 29px
          margin-top: -3px
    &__icons
      &-pay
        margin-right: 40px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 20px
      &-icon18
        width: 35px
        height: 23px
      &-applePay
        width: 60px
        height: 28px
      &-googlePay
        width: 60px
        height: 24px
      &-visa
        width: 35px
        height: 23px
      &-mastercard
        width: 35px
        height: 21px
      &-apple
        width: 109px
        height: 36px
        margin-right: 5px
      &-google
        width: 122px
        height: 36px

@media screen and (max-width: 1366px) and (max-height: 770px)
  .boxing
    &__main
      &-center
        margin: 0 50px 40px
        transform: scale(0.87)


@media screen and (max-width: 1366px) and (max-height: 740px)
  .boxing
    &__logo
      width: 240px
    .team-wrap
      &-teams
        font-size: 38px
        line-height: 38px
    &__main
      &-img
        width: 22%
        margin-top: 60px
      &-wrap
        margin: 30px 0 20px
      &-code
        font-size: 32px
        line-height: 32px
        padding: 17px 40px 14px
  .footer
    min-height: 70px
    height: 70px

@media screen and (max-width: 1366px) and (max-height: 670px)
  .boxing
    &__main
      &-center
        margin: 0 34px 40px
        transform: scale(0.8)
      &-img
        width: 20%

@media screen and (max-width: 1280px)
  .footer
    bottom: 50px
  .boxing
    &__legal
      height: 50px

@media screen and (max-width: 1280px) and (max-height: 630px)
  .boxing
    &__main
      &-img
        width: 20%
      .btn-snow
        width: 355px
        height: 50px
      &-code
        margin: 10px 0
      &-how
        font-size: 14px
        margin-top: 10px
  .footer
    min-height: 60px
    height: 60px

@media screen and (max-width: 1220px)
  .footer
    &__icons
      &-pay
        margin-right: 20px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 15px

@media screen and (max-width: 1200px) and (max-height: 750px)
  .boxing
    &__main
      &-center
        margin-bottom: 50px

@media screen and (max-width: 1180px)
  .footer
    min-height: 60px
    height: 60px
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 40px
          line-height: 40px
          margin-top: 2px
        &-txt
          font-size: 12px
          line-height: 16px
          width: 85px

@media screen and (max-width: 1120px)
  .footer
    min-height: 60px
    height: 60px
    .container
      padding: 0 15px
    &__icons
      &-icon18,
      &-visa
        width: 27px
        height: 18px
      &-applePay
        width: 50px
        height: 24px
      &-googlePay
        width: 50px
        height: 20px
      &-mastercard
        width: 27px
        height: 16px
      &-apple
        width: 91px
        height: 30px
        margin-right: 5px
      &-google
        width: 102px
        height: 30px

@media screen and (max-width: 1119px)
  .footer
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 33px
          line-height: 33px
          margin-top: 1px
        &-txt
          font-size: 11px
          line-height: 14px
          width: 80px
          margin-left: 8px
      &-first
        padding: 0 54px 0 0
        &:after
          right: 16px
          width: 28px
          height: 23px
          margin-top: -2px


@media screen and (max-width: 1024px) and (orientation: landscape)
  .popup
    &__window
      width: 450px
      padding: 40px 40px
      &-close
        width: 60px
        height: 60px
        right: -60px
      &-txt
        &-title
          font-size: 22px
          line-height: 22px
        &-list
          li
            font-size: 18px
            line-height: 24px
  .boxing
    &__logo
      width: 216px
    &__main
      &-img
        width: 27.5%
        margin-top: 117px
      &-center
        margin: 50px 10px 0
      .team-wrap
        &-teams
          font-size: 38px
          line-height: 38px
      &-btn
        padding: 18px 48px 16px
      .btn-snow
        width: 350px
        height: 50px
      &-how
        font-size: 14px

@media screen and (max-width: 1024px) and (max-height: 740px)
  .boxing
    &__logo
      width: 200px

    &__main
      &-img
        width: 26%
        margin-top: 70px
      &-center
        margin: 0 30px 30px
      &-wrap
        margin-top: 20px


/*************************************TABLET****************************************/

@media screen and (max-width: 1024px) and (orientation: portrait)
  .boxing
    &__logo
      width: 330px
    &__main
      &-img
        min-width: 43%
        margin-top: 110px
      &-wrap
        margin: 120px 0 170px
      &-center
        align-self: center
        margin: -30px -30px 0
      .team-wrap
        &:before
          left: 37px
          width: 70px
          height: 35px
        &-teams
          font-size: 58px
          line-height: 58px
          margin-left: 30px
          .team-2
            margin-top: 12px
            .label
              margin: 9px 20px 0 3px
              width: 50px
              height: 39px
        &-date
          width: 95px
        &-day,
        &-time
          font-size: 24px
          line-height: 24px
          padding: 15px 5px 14px
      &-title,
      &-subtitle
        font-size: 26px
        line-height: 32px
      &-code
        font-size: 42px
        line-height: 42px
        padding: 22px 46px 20px
        margin: 22px 0 29px
      &-info
        font-size: 12px
        line-height: 16px
      &-btn
        font-size: 24px
        padding: 30px 74px 28px
      &-how
        font-size: 14px
        margin-top: 36px
      .btn-snow
        width: 400px
        height: 59px

@media screen and (max-width: 1024px) and (orientation: portrait) and (max-height: 1140px)
  .boxing
    &__main
      &-wrap
        margin: 91px 0 118px



@media screen and (max-width: 940px)
  .footer
    .container
      padding: 0 10px
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 26px
          line-height: 26px
          margin-top: -1px
        &-txt
          font-size: 10px
          line-height: 12px
          width: 70px
          margin-top: -1px
      &-first
        padding: 0
        &:after
          width: 24px
          height: 20px
          right: -32px
      &-second
        padding: 0 10px 0 45px
    &__icons
      &-pay
        margin-right: 13px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 10px
      &-icon18,
      &-visa
        width: 22px
        height: 15px
      &-applePay
        width: 33px
        height: 16px
      &-googlePay
        width: 33px
        height: 13px
      &-mastercard
        width: 21px
        height: 13px
      &-apple
        width: 85px
        height: 28px
        margin-right: 5px
      &-google
        width: 95px
        height: 28px
  .boxing
    &__logo
      width: 276px

@media screen and (max-width: 900px) and (orientation: portrait)
  .footer
    bottom: 40px
  .boxing
    &::before
      height: 281px
    &__legal
      height: 40px
    &__main
      &-img
        min-width: 38%

@media screen and (max-width: 768px) and (orientation: portrait)
  .boxing
    &__snow
      width: 535px
      top: 3px
    &__main
      &-center
        margin: 0 -70px 40px
      &-img
        min-width: 36.5%
        margin-top: 157px
  .footer
    min-height: 65px
    height: 65px

@media screen and (max-width: 768px) and (max-height: 990px)
  .boxing
    &__logo
      width: 240px
    &__main
      &-wrap
        margin: 70px 0 80px
      &-center
        align-self: flex-end
        margin: 0 -50px 30px

@media screen and (max-width: 767px) and (orientation: portrait)
  .footer
    &__bonus
      &-first,
      &-second
        &-sum
          letter-spacing: 0
    &__icons
      &-pay
        margin-right: 10px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 7px
      &-apple
        width: 66px
        height: 22px
      &-google
        width: 75px
        height: 22px

@media screen and (max-width: 750px) and (orientation: portrait) and (max-height: 1070px)
  .boxing
    &__main
      &-btn
        font-size: 22px
        padding: 24px 67px 22px

@media screen and (max-width: 715px) and (orientation: portrait)
  .boxing
    &__main
      &-img
        min-width: 34.5%


/*************************************MOBILE****************************************/

@media screen and (max-width: 710px) and (orientation: portrait)
  .fav-page
    height: auto
  .popup
    &__window
      width: 90%
      padding: 30px
      &-close
        top: -50px
        right: 0
        width: 50px
        height: 50px
        &:before
          width: 35px
          height: 35px
      &-txt
        &-title
          font-size: 22px
          line-height: 22px
        &-list
          margin-left: 5px
          li
            font-size: 16px
            line-height: 22px
  .boxing
    height: auto
    display: block
    &__legal
      position: static
      width: 100%
      height: auto
      font-size: 6.7vw
      text-align: center
      padding: 11px 0 10px
    &__main
      padding-top: 160px
      &-center
        z-index: 2
      &-wrap
        margin: 70px 0 64px
      &-img
        min-width: 49.5%
        margin-top: -80px
      .team-wrap
        &:before
          left: 30px
          width: 50px
          height: 24px
        &-teams
          font-size: 42px
          line-height: 42px
          margin-left: 21px
          .team-2
            margin-top: 8px
            .label
              margin: 6px 10px 0 3px
              width: 37px
              height: 29px
        &-date
          width: 70px
        &-day,
        &-time
          font-size: 18px
          line-height: 18px
          padding: 11px 3px 10px
  .footer
    height: auto
    min-height: auto
    padding: 27px 0 40px
    position: static
    .container
      flex-direction: column
      align-items: center
      padding: 0
    &__bonus
      margin: 0
      justify-content: center
      &-first,
      &-second
        flex-direction: column
        &-sum
          font-size: 42px
          line-height: 42px
          letter-spacing: 0.03em
        &-txt
          width: auto
          margin: 8px 0 0
          font-size: 12px
          br
            display: none
      &-first
        border-right: none
        padding: 0 40px 0 0
        align-items: flex-start
        &:after
          width: 30px
          height: 25px
          top: 10px
          right: -4px
      &-second
        align-items: flex-end
        padding: 0 0 0 29px
    &__icons
      padding-right: 0
      flex-direction: column
      margin-top: 29px
      &-pay
        align-items: center
        margin-right: 0
        margin-bottom: 30px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 22px
      &-icon18,
      &-visa
        width: 42px
        height: 28px
      &-applePay
        width: 60px
        height: 28px
      &-googlePay
        width: 65px
        height: 26px
      &-mastercard
        width: 41px
        height: 25px
      &-apple
        width: 157px
        height: 52px
        margin-right: 12px
      &-google
        width: 177px
        height: 52px

@media screen and (max-width: 539px) and (orientation: portrait)
  .boxing
    &::before
      height: 210px
      top: 36%
    &__snow
      width: 284px
    &__logo
      width: 175px
    &__main
      padding-top: 98px
      align-items: flex-start

      &-leftShirt,
      &-rightShirt
        animation: pulloverRoadMob 6s ease infinite !important
      &-img
        min-width: 37%
        top: 257px
        margin-top: 0
        flex-shrink: 0
        &::before
          bottom: -80px

        &:first-of-type
          left: 118px
        &:last-of-type
          right: 118px
      .btn-snow
        width: 349px
        height: 50px
      &-center
        transform: scale(1)
        align-self: flex-start
        margin: 0
      &-wrap
        margin: 44px 0 30px
        order: 3
      &-btnWrap
        order: 1
        margin-top: 336px
        z-index: 1
      &-btn
        font-size: 18px
        width: 89%
        padding: 27px 40px 25px
        text-align: center
      &-how
        order: 2
        margin-top: 17px
        z-index: 1
      .team-wrap
        margin: 164px 0 15px 0
        &:before
          top: -3px
          left: 28px
          width: 35px
          height: 17px
        &-teams
          font-size: 30px
          line-height: 30px
          margin-left: 15px
          .team-1
            letter-spacing: 0.02em
          .team-2
            margin-top: 8px
            .label
              margin: 1px 5px 0 2px
              width: 28px
              height: 22px
            .team-b
              letter-spacing: 0.02em
        &-date
          width: 56px
          border-radius: 5px
          margin-top: -2px
        &-day,
        &-time
          font-size: 14px
          line-height: 14px
          padding: 7px 2px 6px

@media screen and (max-width: 450px) and (orientation: portrait)
  .boxing
    &__main
      &-img
        width: 197px
        top: 260px
      &-btnWrap
        margin-top: 336px

@media screen and (max-width: 450px) and (orientation: portrait) and (min-height: 890px)
  .boxing
    &__main
      .team-wrap
        margin: 42px 0 15px 0
      &-img
        top: 142px

@media screen and (max-width: 390px) and (orientation: portrait)
  .boxing
    &__main
      &-img
        &:first-of-type
          left: 138px
        &:last-of-type
          right: 138px


@media screen and (max-width: 360px) and (orientation: portrait)
  .footer
    padding: 30px 0
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 40px
          line-height: 40px
        &-txt
          font-size: 11px
      &-first
        padding: 0 27px 0 0
      &-second
        padding: 0 0 0 19px
    &__icons
      margin-top: 30px
      &-pay
        margin-bottom: 20px
        div
          &:not(.footer__icons-mastercard)
            margin-right: 13px
      &-apple
        width: 139px
        height: 46px
        margin-right: 6px
      &-google
        width: 156px
        height: 46px

@media screen and (max-width: 335px) and (orientation: portrait)
  .boxing
    &__logo
      width: 142px
    &__main
      padding-top: 86px
      &-img
        width: 156px
        &:first-of-type
          left: 118px
        &:last-of-type
          right: 118px
      &-wrap
        margin: 34px 0 10px
      &-btn
        width: 94%
        padding: 14px 40px 13px
      &-btnWrap
        margin-top: 275px
      &-title,
      &-subtitle
        font-size: 22px
      &-code
        font-size: 35px
        line-height: 35px
        margin: 3px 0 18px
      .btn-snow
        width: 306px
        height: 45px
        margin-top: -6px
      &-how
        margin-top: 32px
      .team-wrap
        &:before
          left: 22px
          width: 30px
          height: 15px
        &-teams
          font-size: 27px
          line-height: 27px
          margin-left: 12px
        &-date
          width: 46px
          border-width: 1px
        &-day,
        &-time
          font-size: 12px
          line-height: 12px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .fav-page
    height: auto
  .popup
    &__window
      padding: 30px
      width: 400px
      &-close
        width: 40px
        height: 40px
        right: -40px
        &:before
          width: 30px
          height: 30px
      &-txt
        &-title
          font-size: 18px
          line-height: 18px
        &-list
          margin: 15px 0 0 0
          li
            font-size: 14px
            line-height: 18px
            margin-bottom: 10px
  .boxing
    &__snow
      width: 375px
    height: auto
    &::before
      height: 131px
      top: 53%
    &__legal
      height: 35px
    &__logo
      width: 150px
    &__main
      padding: 0
      align-items: center
      margin: 0
      &-rightShirt,
      &-leftShirt
        animation: pulloverRoadMob 6s ease infinite !important
      &-img
        margin-top: 15px
        width: 17%
      &-wrap
        margin: 35px 0 30px
      &-btn
        font-size: 12px
        padding: 12px 25px 10px
        z-index: 1
      .btn-snow
        width: 230px
        height: 33px
      &-how
        font-size: 12px
        margin-top: 5px
        z-index: 1
      &-center
        align-self: flex-start
        margin: 0 30px 20px
        .team-wrap
          margin: 30px 0 15px 0
      &-title
        font-size: 12px
        line-height: 12px
        span
          display: inline-block
      &-subtitle
        display: none
      &-code
        font-size: 18px
        line-height: 18px
        letter-spacing: 0.01em
        padding: 10px 30px 9px
      &-info
        font-size: 9px
        line-height: 12px
        max-width: 170px
      .team-wrap
        &:before
          top: -3px
          left: 28px
          width: 35px
          height: 17px
        &-teams
          font-size: 26px
          line-height: 25px
          margin-left: 15px
          .team-1
            letter-spacing: 0.02em
          .team-2
            margin-top: 8px
            .label
              margin: 1px 5px 0 2px
              width: 28px
              height: 22px
            .team-b
              letter-spacing: 0.02em
        &-date
          width: 56px
          border-radius: 5px
          margin-top: -2px
        &-day,
        &-time
          font-size: 14px
          line-height: 14px
          padding: 7px 2px 6px
  .footer
    position: absolute
    width: 100%
    bottom: 35px
    min-height: 45px
    height: 45px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 423px)
  .boxing
    &__main
      background: url(../img/bg.jpg) no-repeat 0 40%/cover
      &-center
        transform: scale(0.7)
        margin: -10px 30px -4px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 390px)
  .boxing
    &__main
      &-center
        transform: scale(0.6)
        margin: -30px 30px -14px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 370px)
  .boxing
    &__main
      &-img
        margin-top: -40px
      &-center
        transform: scale(0.6)
        margin: -38px 30px -14px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 342px)
  .boxing
    &__main
      &-img
        width: 13%
      &-center
        transform: scale(0.5)
        margin: -58px -21px -14px

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 306px)
  .boxing
    &::before
      height: 76px
      top: 43%
    &__main
      &-img
        width: 10%
      &-center
        transform: scale(0.45)
        margin: -79px -21px -14px

@media screen and (max-width: 762px) and (orientation: landscape)
  .footer
    &__bonus
      &-first,
      &-second
        &-sum
          font-size: 22px
          line-height: 22px
        &-txt
          font-size: 8px
          line-height: 11px
      &-second
        padding: 0 10px 0 30px
      &-first
        &::after
          right: -19px

@media screen and (max-width: 717px) and (orientation: landscape)
  .footer
    &__icons
      &-apple
        width: 66px
        height: 21px
      &-google
        width: 70px
        height: 21px

@media screen and (max-width: 675px) and (orientation: landscape)
  .footer
    &__icons
      &-icon18,
      &-visa
        width: 17px
        height: 10px
      &-applePay
        width: 28px
        height: 12px
      &-googlePay
        width: 28px
        height: 11px
      &-mastercard
        width: 16px
        height: 9px
  .footer__icons-pay div:not(.footer__icons-mastercard)
    margin-right: 7px

@media screen and (max-width: 640px) and (orientation: landscape)
  .footer
    &__icons
      position: relative
      z-index: 3
      &-pay
        transform: scale(0.8)
        margin-right: -1px
    &__bonus
      margin-right: -40px
      &-first,
      &-second
        &-sum
          font-size: 17px
          line-height: 17px
        &-txt
          font-size: 7px
          line-height: 10px
      &-second
        padding: 0 10px 0 12px
      &-first
        &::after
          right: -5px
          width: 18px
          height: 14px