.fav-page
  a(href="https://www.favbet.com/uk/short-register/" target="_blank").main-link
  .snow-section#snow-section
  .popup
    .popup__window
      .popup__window-close
      .popup__window-txt
        .popup__window-txt-title Як зробити ставку?
        ul.popup__window-txt-list
          li Вводь промокод "Boxingday" при реєстрації, що доступний тільки для нових клієнтів
          li Внось депозит від 100 грн
          li Зроби будь яку ставку на спорт від 100 грн, з коефіцієнтом від 1,5
          li Отримай 100 грн
    .popup__bg
  .boxing
    .boxing__snow
    .boxing__logo
      img(src="img/logo.svg" alt="Favbet")
    .boxing__main
      .boxing__main-img.boxing__main-imgLeft
        img(src="img/tottenham.png" alt="image").boxing__main-leftShirt
      .boxing__main-center
        .team-wrap
          .team-wrap-date
            .team-wrap-day 19.12
            .team-wrap-time 22:00
          .team-wrap-teams
            .team-1.normal
            .team-2.italic
              .label
        .boxing__main-wrap
          .boxing__main-title Вводь промокод #[span при реєстрації *]
          .boxing__main-code Boxingday#[span *]
          .boxing__main-info *Бонус Вoxingday доступний тільки для нових клієнтів
          .boxing__main-subtitle при реєстрації #[span *]
        .boxing__main-btnWrap
          a(href="#").boxing__main-btn зроби ставку
          span.btn-snow
        .boxing__main-how Як активувати промокод
      .boxing__main-img.boxing__main-imgRight
        img(src="img/liverpool.png" alt="image").boxing__main-rightShirt
  .footer
    .container
      .footer__bonus
        a(href="https://www.favbet.com/uk/promos/promo/new_welcome/" target="_blank").link
        .footer__bonus-first
          .footer__bonus-first-sum 500₴
          .footer__bonus-first-txt ставка #[br] без ризику
        .footer__bonus-second
          .footer__bonus-second-sum 4000₴
          .footer__bonus-second-txt На перший #[br] депозит
      .footer__icons
        .footer__icons-pay
          .footer__icons-icon18
          .footer__icons-applePay
          .footer__icons-googlePay
          .footer__icons-visa
          .footer__icons-mastercard
        .footer__icons-app
          a(href="https://apps.apple.com/ua/app/favorit-sport-sport-betting/id1076305677" target="_blank").footer__icons-apple
          a(href="https://www.favbet.com/minio/android-files/version3/Favbet.apk" target="_blank").footer__icons-google
  .boxing__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ